<b>Lookup By City & State</b>
<p></p>
<form method="POST" action="/city">
	
	<table>	
  <tr>
	<p>Please use all capital letters to enter your request.</p>
	 <td valign="top">
	  <label for="city">City:</label>
	 </td>
	 <td valign="top">
	  <input  type="text" pattern="[A-Z]*" name="city" size="30" required>
	 </td>
  </tr>
  <tr>
	 <td valign="top">
	  <label for="state">State:</label>
	 </td>
	 <td valign="top">
	  <input  type="text" pattern="[A-Z]*" name="state" size="10" required>
	 </td>
  </tr>
  <tr>
 	 <td colspan="2">
  	<input type="submit" />
   </td>
  </tr>
 </table>

</form>

